th {
    background-color: #4CAF50;
    color: white;
}
table {
	margin:auto;
	width:100%;
    border-collapse: collapse;
    background-color: white;
}
.head{
    padding: 5px;
    text-align: center;
}
.title{
	width: 5%;
    padding: 5px;
    text-align: right;
}
.account{
	width: 20%;
    padding: 20px;
    text-align: left;
}
.amount{
	width: 10%;
    padding: 5px;
    text-align: right;
}