body{
	margin: 0 auto;
	background-image: url('/store1/images/world.jpg');
	background-repeat:no-repeat;
	background-size:100%;
}
h1 {
	text-align: center;
	font-size: 50px;
	color: steelblue;
}
.container{
	width: 500px;
	height: 400px;
	text-align: center;
	background-color: rgba(52, 73, 94, 0.4);
	border-radius:4px;
	margin-top: 150px;
	margin: 0 auto;
}
.container img{
	width: 120px;	
	height: 120px;
	margin-top: 0px;
	margin-bottom: 30px;
}
form{
	margin: 20px auto; /*header theke form er gap*/
	width: 200px;	/*side theke form er gap*/
	color: steelblue;	/*form er color*/
}
input{
	padding: 10px;  /*box er size*/
	font-size:inherit; /*can add pixel if you want*/
}
input[type="email"] {
	display: block;
	margin-bottom: 20px; /*box er majhe gap*/
	width: 100%;	/*box er length*/
	border: 3px solid steelblue; /*box er border er size and color*/
}
input[type="password"] {
	display: block;
	margin-bottom: 20px; /*box er majhe gap*/
	width: 100%;	/*box er length*/
	border: 3px solid steelblue  /*box er border er size and color*/
}
input[type="submit"]{
	cursor: pointer;
	border-radius: 4px;
	border:none;
	background: steelblue;
	color: white;
	margin-bottom:20px
}
a{
	color:white;
}
input:focus{
	background:white; /*box er bhetor color jeta deoa oita hobe click korle */
}
